.grid-container {
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 5% 5% 1fr 1fr 1fr 10%;
  }
  
  *{
      margin: 0px;
      padding: 0px;
  }
  
  nav{
      width: 100%;
      margin: 0 auto;
      top: 0px;
      border: 1px solid black;
  }
  
  nav ul{
      list-style-type: none;
  }
  
  nav ul li{
      float: left;
      width: 25%;
      text-align: center;
      position: relative;
      display: block;
  }
  
  nav ul::after{
      content: "";
      display: table;
      clear: both;
  }
  
  nav a{
      display: block;
      padding: 10px 0px;
  }
  
  nav a:hover{
  
  }
  
  .sousmenu{
      display: none;
      position: absolute;
      width: 100%;
      z-index: 1000;
  }
  nav > ul li:hover .sousmenu{
      display: block;
  }
  .sousmenu li{
      float: none;
      width: 100%;
      text-align: left;
  }
  .sousmenu a{
      padding: 10px;
      border-bottom: none;
  }
  .sousmenu a:hover{
      border-bottom: none;
  }
  .deroulant > a::after{
  }
  .colonne {
  
      border: 1px solid black;
   }
  
   .articletitre {
      margin-left: 1%;
      color:darkblue;
  }
  .article {
      padding-left: 1%;
      padding-top: 5%;
      padding-bottom: 1%;
  }
  .cadrearticle {
      border: 1px solid black;
      margin-left: 1%;
      margin-right: 1%;
      margin-top: 1%;
  }
  .pied {
      border: 1px solid black;
      margin-top: 2%;
      margin-left: 1%;
      margin-right: 1%;
      padding-bottom: 10%;
    }
  .pp1 {
    float: left;
    list-style-type: none;
    margin-right: 10%;
    margin-left: 10%;
  }
  .pp2 {
    float: left;
    list-style-type: none;
    margin-right: 10%;
    margin-left: 10%;
  }
  .pp3 {
    float: left;
    list-style-type: none;
    margin-right: 10%;
    margin-left: 10%;
  }
  .articlefin{
      padding-left: 1%;
      padding-top: 5%;
      padding-bottom: 1%;
  }
  
  .grid-item1 {
      grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 1;
  }
  .grid-item2 {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 2; 
      grid-row-end: 6;
  }
  .grid-item3 {
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 3; 
      grid-row-end: 3;
  }
  .grid-item4 {
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 4; 
      grid-row-end: 4;
  }
  .grid-item5 {
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 5; 
      grid-row-end: 5;
  }
  .grid-item6{
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 6; 
      grid-row-end: 6;
  }
  .grid-item0{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1; 
    grid-row-end: 1;
}
.menub {
    display: none;
}

  @media only screen and (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: 20% 1fr;
        grid-template-rows: 5% 1fr 1fr 1fr 10% 10%;
    }
    
    .grid-item1 {
        grid-column-start: 1; 
        grid-column-end: 1; 
        grid-row-start: 1; 
        grid-row-end: 1;
    }
    .grid-item2 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5; 
        grid-row-end: 5;
    }
    .grid-item3 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2; 
        grid-row-end: 2;
    }
    .grid-item4 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3; 
        grid-row-end: 3;
    }
    .grid-item5 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4; 
        grid-row-end: 4;
    }
    .colonne {    
        border: 1px solid black;
        list-style-type: none;
        margin: 1%;
        }
    .grid-item6{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6; 
        grid-row-end: 6;
    }
    .grid-item0 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1; 
        grid-row-end: 1;
    }
    .pied {
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .pp1 {
        margin-left: 20%;
        margin-right: 20%;
        list-style-type: none;

    }
    .pp2 {
        margin-left: 20%;
        margin-right: 20%;
        list-style-type: none;

    }
    .pp3 {
        margin-left: 20%;
        margin-right: 20%;
        list-style-type: none;
   
    }
    .pl {
        float: left;
    }

    .grid-item7 {
        display: block;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1; 
        grid-row-end: 1;
        font-size: 600%;
        margin-left: 5%;
    }
    nav ul li{
        float: left;
        width: 25%;
        text-align: center;
        position: relative;
    }
  }